on post-fs-data

service_redefine drm /system/bin/drmserver.tcl
    class main
    user drm
    group drm system inet drmrpc root sdcard_rw sdcard_r media_rw

service_redefine media /system/bin/mediaserver
    class main
    user media
    #wzh add net_raw
    group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm qcom_diag net_raw
